@font-face {
    font-family: Franklin Gothic Book;
    src: url(fonts/Franklin\ Gothic\ Book\ Regular.ttf);
}

body{
    font-family: Franklin Gothic Book;
    color: #BBBBBB;
    background-color: #181818;
    background-image: linear-gradient(to right bottom, #121212, #262626);
    background-repeat: no-repeat;
    margin: 0 auto;
    overflow-x: hidden;
}

.arrowmain
{
    display: flex;
    justify-content: center;
}
.arrow{
    margin-top: -20vh;
    position: absolute;
}
.arrowtop{
    width: 50px;
    position: absolute;
    margin-top: -10px;
    animation: arrowmov 750ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes arrowmov {
    0% {margin-top: -17px;}
    100% {margin-top: -10px}
}
.arrowbottom{
    width: 50px;
}
.blue{
    color: #00C7FB;
}

.flex{
    display: flex;
    gap: 4em;
}

.homebutton{
    width: 80px;
    float: left;
}

.homepagemain{
    display: flex;
    gap: 5%;
    flex-wrap: nowrap;
}

.maintext{
    margin-left: 7%;
    width: 50%;
    font-size: calc(3rem + 1.5vw);
    margin-top: 15vw;
}

.mainimg{
    width: 28%;
    margin-top: 4vw;
}

.mainimgsrc{
    width: 600px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin: 0.5em 1% 0.5em 5%;
}

.navbarbutton{
    background: none;
	color: transparent;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navbartext{
    font: inherit;
    color: #BBBBBB;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.15s;
}

.navbartext:hover{
    transition: 0.15s;
    color: #00C7FB;
}

.pagebuttons{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.pagebuttons2{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
}

.pagebuttonsbutton{
    background-image: linear-gradient(to left top, #121212, #262626);
	color: #BBBBBB;
	border: 3%;
    border-color: #c0c0c0;
    border-style: solid;
    border-radius: 60px;
    border-width: 0.3rem;
    width: 14em;
	padding: 2.6em 1.5em;
	font: inherit;
    cursor: pointer;
}

.pagebuttonsbutton2{
	border: 3%;
    color: #BBBBBB;
    border-color: #c0c0c0;
    border-style: solid;
    border-radius: 60px;
    border-width: 0.3rem;
    padding: 1.5em 70vw 1.5em 1em;
	font: inherit;
    cursor: pointer;
    margin-left: 10%;
}
.pagebuttonsbutton:hover{
    background-image: linear-gradient(to right bottom, #121212, #262626);
    color: #00C7FB;
    border-color: #00C7FB;
    box-shadow: 0px 0px 8px 1px #00C7FB;
}
.pagebuttonsbutton2:hover{
    background-size: 150%;
    animation: backgroundmov 6s infinite alternate;
    color: #00C7FB;
    border-color: #00C7FB;
    box-shadow: 0px 0px 8px 1px #00C7FB;
}

.poster
{
    background-image: url(images/posterbanner.jpg);
    background-size: cover;
    background-position-y: center;
}

@keyframes backgroundmov {
    0% {background-position-x: -10vw;}
    100% {background-position-x: -20vw;}
}

.pagebuttonstext{
    font: inherit;
    font-size: 3em;
    color: #BBBBBB;
    text-decoration: none;
    text-transform: uppercase;
}

.pagebuttonstext2{
    font: inherit;
    font-size: 3em;
    color: #BBBBBB;
    text-decoration: none;
    text-transform: uppercase;
}

.textdocumentatie{
    margin: 0 8%;
}
.textblock{
    margin-top: 5em;
}

.textimg{
    width: 50%;
}

.texttext{
    color: inherit;
    font-size: large;
    width: 50%;
}
.uppercase{
    text-transform: uppercase;
}