@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
.fontserif{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}

*{
    list-style: none;
    text-decoration: none;
    scrollbar-color: white;
}

*::-webkit-scrollbar{
    width: 10px;
    position: relative;
    color: #00C7FB;
}

*::-webkit-scrollbar-track{
    background-color: #202020;
}

*::-webkit-scrollbar-thumb{
    border-color: #00C7FB;
    border-width: 2px;
    border-radius: 50px;
    border-style: solid;
}
.uppercase{
    text-transform: uppercase;
}

body{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    color: #BBBBBB;
    background-color: #181818;
    background-image: linear-gradient(to right bottom, #121212, #262626);
    background-repeat: no-repeat;
    margin: 0 auto;
    overflow-x: hidden;

}

.blue{
    color: #00C7FB;
}

.flex{
    display: flex;
    gap: 4em;
}

/* HomePage */
.arrowmain
{
    display: flex;
    justify-content: center;
}
.arrow{
    margin-top: -20vh;
    position: absolute;
}
.arrowtop{
    width: 50px;
    position: absolute;
    margin-top: -10px;
    animation: arrowmov 750ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.arrowbottom{
    width: 50px;
}

@keyframes arrowmov {
    0% {margin-top: -17px;}
    100% {margin-top: -10px}
}

.homebutton{
    width: 80px;
    float: left;
}

.homepagemain{
    display: flex;
    gap: 5%;
    flex-wrap: nowrap;
}

.maintext{
    margin-left: 7%;
    width: 50%;
    font-size: calc(3rem + 1.5vw);
    margin-top: 11vw;
}

.mainimg{
    width: 28%;
    margin-top: 4vw;
}

.mainimgsrc{
    width: 600px;
}

.pagebuttons{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.pagebuttonsbutton{
    background-image: linear-gradient(to left top, #121212, #262626);
	color: #BBBBBB;
	border: 3%;
    border-color: #c0c0c0;
    border-style: solid;
    border-radius: 60px;
    border-width: 0.3rem;
    width: 14em;
	padding: 2.6em 1em;
	font: inherit;
    cursor: pointer;
    font-size: 0.75em;
}

.pagebuttonsbutton:hover{
    background-image: linear-gradient(to right bottom, #121212, #262626);
    color: #00C7FB;
    border-color: #00C7FB;
    box-shadow: 0px 0px 8px 1px #00C7FB;
}


/* Navbar */
hr{
    border-color: #00C7FB; 
    margin: 0;
}
.logobtn{
    margin-top: 0.8em;
    margin-left: 2em;
    background-color: transparent;
    border: none;
}

.logobtnimg{
    width: 8em;
    opacity: 0.75;
}

.navbarwrapper{
    width: 100%;
    display: flex;
}

.navbar{
    width: 100%;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 4%;
}

.navbar ul li{
    position: relative;
}

.navbar ul li a{
    display: block;
    color: #BBBBBB;
    text-align: center;
    padding: 10 10 10 10;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 1000;
    font-size: large;
}
.navbar .ddmenu{
    position: absolute;
    width: 10em;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: center;
    background-color: #121212;
    display: none;
}

.navbar ul{
    padding: 0;
}

.navbar ul li a.aMain.active + .ddmenu{
    display: block;
}

.navbar ul li a:hover,
.navbar ul li a.active{
    color: #00C7FB;
    transition: all 0.3s ease;
}


.navbar .ddmenu ul li a{
    text-align: center;
}

.ddmenu ul li{
    width: 100%;
    border: #00C7FB solid;
}

/* Style Deelonderwerpen */

.apastyle
{
    background-image: url(images/apastylebg.jpg);
    background-size: cover;
    background-position-y: 500px;
}
.brandguide
{
    background-image: url(images/BrandguideEnd.jpg);
    background-size: cover;
    background-position-y: 300px;
}

.brandguideresearch
{
    background-image: url(images/BrandguideEnd.jpg);
    background-size: cover;
    background-position-y: 300px;
}

.braxx
{
    background-image: url(images/aoc\ art\ 6.jpg);
    background-size: cover;
    background-position-y: 320px;
}

.colors
{
    background-image: url(images/colorpaletbraxx.png);
    background-size: cover;
    background-position-y: 700px;
}

.fotografie
{
    background-image: url(images/chefstuutmedia.jpg);
    background-size: cover;
    background-position-y: 550px;
}
.mediaverkenningResearch
{
    background-image: url(images/MediaverkenningResearch.jpg);
    background-size: cover;
    background-position-y: 900px;
}
.interview
{
    background-image: url(images/hannahInterview.jpg);
    background-size: cover;
    background-position-y: 900px;
}

.navigatiebar
{
    background-image: url(images/NavBar2.jpg);
    background-size: cover;
    background-position-y: 180px;
}

.infographic
{
    background-image: url(images/InfoGraphic.jpg);
    background-size: cover;
    background-position-y: 120px;
}

.jsonpoc
{
    background-image: url(images/jsoncode.jpg);
    background-size: cover;
    background-position-y: 120px;
}

.apipoc
{
    background-image: url(images/apiss.jpg);
    background-size: cover;
    background-position-y: 120px;
}
.mediastrategie
{
    background-image: url(images/HANNAH\ YouTube\ 2.jpg);
    background-size: cover;
    background-position-y: -230px;
}

.poster
{
    background-image: url(images/posterbanner.jpg);
    background-size: cover;
    background-position-y: center;
}

.slideshow
{
    background-image: url(images/Slideshow.jpg);
    background-size: cover;
    background-position-y: 50px;
}

.storytelling
{
    background-image: url(images/PosterStory2.jpg);
    background-size: cover;
    background-position-y: 1400px;
}

.steenpapierschaar
{
    background-image: url(images/steenpapierschaarv2.jpg);
    background-size: cover;
    background-position-y: 1400px;
}

.usertestport
{
    background-image: url(images/NavBar.jpg);
    background-size: cover;
    background-position-y: 70px;
}
.vrclipCommunicatie
{
    background-image: url(images/vrclipcomm.jpg);
    background-size: cover;
    background-position-y: 1200px;
}

.vrhannah
{
    background-image: url(images/vrhannaheind.jpg);
    background-size: cover;
    background-position-y: 200px;
}

.vrhannahtest
{
    background-image: url(images/vrhannaheind.jpg);
    background-size: cover;
    background-position-y: 700px;
}

@keyframes backgroundmov {
    0% {background-position-x: -10vw;}
    100% {background-position-x: -20vw;}
}

.pagebuttonstext2{
    font: inherit;
    font-size: 3em;
    color: #BBBBBB;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.pagebuttons2{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
    width: 100%;
    margin: 5% 0 5% 0;
    justify-content: center;
}

.pagebuttonsbutton2{
	border: 3%;
    color: #BBBBBB;
    border-color: #c0c0c0;
    border-style: solid;
    border-radius: 60px;
    border-width: 0.3rem;
    padding: 1.2em 0 1.2em 0;
	font: inherit;
    cursor: pointer;
    width: 80vw;
    float: left;
}

.pagebuttonsbutton2:hover{
    background-size: 150%;
    animation: backgroundmov 6s infinite alternate;
    color: #00C7FB;
    border-color: #00C7FB;
    box-shadow: 0px 0px 8px 1px #00C7FB;
}

.pagebuttonstext{
    font: inherit;
    font-size: 3em;
    color: #BBBBBB;
    text-decoration: none;
    text-transform: uppercase;
}

/* Style POCs */

#apibox{
    border-style: solid;
    border-color: #00C7FB;
    border-width: 5px;
    border-radius: 50px;
    height: 300px;
    margin: 0;
    padding: 0;
}

.documenttitle{
    text-align: center;
    width: 100%;
    font-size: calc(3rem + 1.5vw);
}

.eindresultaat{
    width: 100%;
    text-align: center;
}
.textdocumentatie{
    margin: 0 8% 8% 8%;
}
.textblock{
    margin-top: 5em;
}

.textimg{
    width: 50%;
}

.texttext{
    color: inherit;
    font-size: large;
    width: 50%;
    float: left;
    text-align: justify;
}

.iteraties{
    display: flex;
    gap: 4%;
    justify-content: center;
    margin: 0;
}

.iteratiesimg{
    width: 100%;
    margin: 0;
    text-align: center;
}

.Slideshow-container{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

/* Steen Papier Schaar */

#steen, #papier, #schaar{
    background-image: linear-gradient(to left top, #121212, #262626);
	color: #BBBBBB;
	border: 3%;
    border-color: #c0c0c0;
    border-style: solid;
    border-radius: 60px;
    border-width: 0.3rem;
    width: 14em;
	padding: 2.6em 1em;
	font: inherit;
    cursor: pointer;
    font-size: 2em;
}

#steen:hover, #papier:hover, #schaar:hover{
    background-image: linear-gradient(to right bottom, #121212, #262626);
    color: #00C7FB;
    border-color: #00C7FB;
    box-shadow: 0px 0px 8px 1px #00C7FB;
}

.vs{
    font-size: 4em;
    margin-top: 0;
    width: 100%;
}

.uitslag{
    text-align: center;
    width: 33%;
    justify-content: baseline;
    margin-top: 3em;
}

.stand{
    margin-bottom: -20;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keuzeUser{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 33%;
}
.keuzePC{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 33%;
}

#steenUser{
    display: none;
    margin-left: 70%;
}
#papierUser{
    display: none;
    margin-left: 70%;
}
#schaarUser{
    display: none;
    margin-left: 70%;
}
#steenPC{
    display: none;
    margin-right: 70%;
}
#papierPC{
    display: none;
    margin-right: 70%;
}
#schaarPC{
    display: none;
    margin-right: 70%;
}

#result{
    font-variant: small-caps;
    font-size: 2em;
    margin-top: 0;
}

.scorebord{
    height: 40%;
}

.playerCat{
    justify-content: center;
}

.playerCat p{
    text-align: center;
    margin: 0 10em;
    font-size: 2.3em;
}

/* JSON read */

#jsonwrite{
    display: flex;
    justify-content: center;
    gap: 5%;
}